{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "Default": "Database=YourDatabase;Data Source=YourServerAddress;User Id=YourDatabaseUser;Password=YourDatabasePassword;SSL Mode=None"
  }
}
